<ion-view view-title="barcodes">
  <ion-nav-bar class="bar-calm">
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <ion-item>
        <h2>card1</h2>
      </ion-item>
      <ion-item>
        <h2>card1</h2>
      </ion-item>
      <ion-item>
        <h2>card1</h2>
      </ion-item>
      <ion-item>
        <h2>card1</h2>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="buttons">
      <button class="button">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons" ng-click="doSomething()">
      <button class="button">Right Button</button>
    </div>
  </ion-footer-bar>

</ion-view>
