<ion-view view-title="tab">
  
<ion-tabs class="tabs-stable">

  <ion-tab 
    icon-on="ion-clock" 
    icon-off="ion-ios-time" 
    ng-click="goTo('header.tab.main', {'cardList': 'main'});"
  >
    <ion-nav-view name="main">
    </ion-nav-view>
  </ion-tab>

  <ion-tab 
    icon-on="ion-clock" 
    icon-off="ion-ios-time" 
    ng-click="goTo('header.tab.addCards', {'cardList': 'addCards'});"
  >
    <ion-nav-view name="addCards" class="view-slide-in">
    </ion-nav-view>
  </ion-tab>

  <ion-tab
    icon-on="ion-clock" 
    icon-off="ion-ios-time"
    ng-click="goTo('header.tab.barcodes');"
  >
    <ion-nav-view name="barcodes">
    </ion-nav-view>
  </ion-tab>

  <ion-tab
    icon-on="ion-clock" 
    icon-off="ion-ios-time"
    ng-click="goTo('header.firstCards', {'cards': 'firstCards'});"
  >
    <ion-nav-view name="barcodes">
    </ion-nav-view>
  </ion-tab>

</ion-tabs>
</ion-view>
